<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>testfile</h1>
        <hr></hr>
        <div>
            Values Delivered.
            <div>Active State Time Record</div>
            <div></div>
            <div></div>
            <div>
                <a href = "#">A Link to Somewhere</a>
            </div>
            <div>
                <span><a href = "#">Another link to somewhere else.</a></span>
            </div>
        </div>
        <script type = "text/javascript">
            let events = ["RandomClientEvent"];
            let log_id = "";

            window.addEventListener("beforeunload", (event) => {
                event.returnValue = "Hello Sir!";
                event.preventDefault();
                console.log("hi");
                fetch(`/log/${log_id}`, {
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    method: "PUT",
                    body: JSON.stringify({
                        data: events
                    })
                })
                .then((res) => {
                    console.log(res);
                })
                .catch((res) => {
                    console.log(res);
                });
            });

            

            fetch("/log",
            {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify({
                    screenWidth: window.innerWidth, 
                    screenHeight: window.innerHeight,
                    maxWidth: screen.availWidth,
                    maxHeight: screen.availHeight,
                    os: navigator.platform,
                    language: navigator.language,                    
                    ver: navigator.appVersion
                })
            })
            .then(function(res){                 
                return res.json();                
            })
            .then((res) => {
                console.log(res._id);
                 log_id = res._id;
            })
            .catch(function(res){ 
                console.log(res);
            });

            document.addEventListener("keypress", (evt) => {                                
                let eventToLog = {letter: Strong.fromCharCode(evt.which), time: new Date().toLocaleTimeString()};
                events.push(eventToLog);
                console.log(events);
            });
            
        </script>
    </body>
</html>