<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>testfile</h1>
        <hr></hr>
        <div>
            Values Delivered.
            <div>Active State Time Record</div>
            <div></div>
            <div></div>
            <div>
                <a href = "#">A Link to Somewhere</a>
            </div>
            <div>
                <span><a href = "#">Another link to somewhere else.</a></span>
            </div>
        </div>
        
        
        <script type = "text/javascript">
            let startDate = new Date();
            let visit_data = {
                log_id: "", 
                date: startDate,                 
                duration: "", 
                eventLog: []
            };
            
            let log_id = "";

            function setLogId(id){
                visit_data.log_id = id;
            }

            window.addEventListener("beforeunload", (event) => {                
                event.preventDefault();                
                visit_data.duration = new Date() - startDate;                
                fetch(`/log/${log_id}`, {
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    method: "PUT",
                    body: JSON.stringify({
                        data: visit_data
                    })
                })
                .then((res) => {
                    console.log(res);
                })
                .catch((res) => {
                    console.log(res);
                });
            });

            

            fetch("/log",
            {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify({
                    screenWidth: window.innerWidth, 
                    screenHeight: window.innerHeight,
                    maxWidth: screen.availWidth,
                    maxHeight: screen.availHeight,
                    os: navigator.platform,
                    language: navigator.language,                    
                    ver: navigator.appVersion
                })
            })
            .then(function(res){                 
                return res.json();                
            })
            .then((res) => {                
                 log_id = res._id;
                 visit_data.log_id = res._id;
            })
            .catch(function(res){ 
                console.log(res);
            });

            document.addEventListener("keypress", (evt) => {                                
                let eventToLog = {letter: String.fromCharCode(evt.which), time: new Date().toLocaleTimeString()};
                visit_data.eventLog.push(eventToLog);
                console.log("Event Logged %s", String.fromCharCode(evt.which));
            });
            
        </script>
    </body>
</html>